* {
  font-family: Arial, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat-ExtraBold.otf);
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(./assets/fonts/Montserrat-Medium.otf);
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(./assets/fonts/Montserrat-Regular.otf);
}

@font-face {
  font-family: 'Montserrat-bold';
  src: url(./assets/fonts/Montserrat-Bold.otf);
}

@font-face {
  font-family: 'Montserrat-600';
  src: url(./assets/fonts/Montserrat-SemiBold.otf);
}


.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-start-sb {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.flex-end-sb {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* 样式覆盖 */
.n-spin-content {
  height: 100% !important;
}